body{
    background-color: orange;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 80px;
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#rulesHowTo{
    flex-direction: row;
}
footer{
    background-color: black;
    display: flex;
    justify-content: center;   
    height: 50px;
    color: white; 
}